body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.filter-container {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

select {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

table {
    background-color: #fff;
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a bottom border to separate rows */
}

th {
    background-color: #208bb9;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer; /* Change cursor to a pointer on hover for interactivity */
}

/* You can add more styling to meet your preferences and design requirements. */
