{% load static %}
<ul id="mega_main_menu_ul" class="mega_main_menu_ul"> 
    <li id="menu-item-3630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-3630 default_dropdown  drop_to_right submenu_default_width columns1"> 	
        <a href="/" class="item_link  disable_icon" tabindex="1"> 		
            <i class></i>  		
            <span class="link_content"> 			
                <span class="link_text"> 				Home 			</span> 		
            </span> 	
        </a> 
    </li> 
    <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
        <a href="/mutualfunds" class="item_link  disable_icon" tabindex="2"> 		
          <i class></i>  		
          <span class="link_content"> 			
            <span class="link_text">Mutual Funds</span> 		
          </span> 	</a> 	
          <ul class="mega_dropdown"> 	
            <li id="menu-item-3739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3739 default_dropdown  drop_to_right submenu_default_width columns1"> 		
              <a href="/mutualfunds" class="item_link  disable_icon" tabindex="3"> 			
                <i class></i>  			
                <span class="link_content"> 				
                  <span class="link_text">Mutual Funds in Pakistan</span> 			
                </span> 		
              </a> 	
            </li> 	
            <li id="menu-item-3739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3739 default_dropdown  drop_to_right submenu_default_width columns1"> 		
              <a href="/conventional" class="item_link  disable_icon" tabindex="3"> 			
                <i class></i>  			
                <span class="link_content"> 				
                  <span class="link_text">Conventional Banking</span> 			
                </span> 		
              </a> 	
            </li> 	
            <li id="menu-item-3739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3739 default_dropdown  drop_to_right submenu_default_width columns1"> 		
              <a href="/islamic" class="item_link  disable_icon" tabindex="3"> 			
                <i class></i>  			
                <span class="link_content"> 				
                  <span class="link_text">Islamic Banking</span> 			
                </span> 		
              </a> 	
            </li> 
            <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
                <a href="/mutual-fund-companies" class="item_link  disable_icon" tabindex="2"> 		
                    <i class></i>  		
                    <span class="link_content"> 			
                        <span class="link_text"> 				
                            Company Details
                        </span> 		
                    </span> 	
                </a> 
            </li> 
                
          </ul><!-- /.mega_dropdown --> 
        </li> 
        <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
            <a href="/term-deposite" class="item_link  disable_icon" tabindex="2"> 		
                <i class></i>  		
                <span class="link_content"> 			
                    <span class="link_text"> 				
                        Term Deposits			
                    </span> 		
                </span> 	
            </a>
            <ul class="mega_dropdown">
                <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
                    <a href="/term-deposite" class="item_link  disable_icon" tabindex="2"> 		
                        <i class></i>  		
                        <span class="link_content"> 			
                            <span class="link_text"> 				
                                Term Deposit
                            </span> 		
                        </span> 	
                    </a> 
                </li> 	
        
                <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
                    <a href="/products" class="item_link  disable_icon" tabindex="2"> 		
                        <i class></i>  		
                        <span class="link_content"> 			
                            <span class="link_text"> 				
                                Products
                            </span> 		
                        </span> 	
                    </a> 
                </li> 	
            </ul> 
        </li>
        <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
            <a href="/life-insurance" class="item_link  disable_icon" tabindex="2"> 		
                <i class></i>  		
                <span class="link_content"> 			
                    <span class="link_text"> 				
                        Life Insurance
                    </span> 		
                </span> 	
            </a>
            <ul class="mega_dropdown">
                <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
                    <a href="/life-insurance" class="item_link  disable_icon" tabindex="2"> 		
                        <i class></i>  		
                        <span class="link_content"> 			
                            <span class="link_text"> 				
                                Life Insurance
                            </span> 		
                        </span> 	
                    </a> 
                </li> 	
                
                <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
                    <a href="/life-insurance-companies" class="item_link  disable_icon" tabindex="2"> 		
                        <i class></i>  		
                        <span class="link_content"> 			
                            <span class="link_text"> 				
                                Company Details
                            </span> 		
                        </span> 	
                    </a> 
                </li>
                <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
                    <a href="/life-insurance-products" class="item_link  disable_icon" tabindex="2"> 		
                        <i class></i>  		
                        <span class="link_content"> 			
                            <span class="link_text"> 				
                                Products
                            </span> 		
                        </span> 	
                    </a> 
                </li> 	
            </ul>  
        </li>
        <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
        <a href="/calculator" class="item_link  disable_icon" tabindex="2"> 		
            <i class></i>  		
            <span class="link_content"> 			
                <span class="link_text"> 				
                    Calculator 			
                </span> 		
            </span> 	
        </a> 
 </li>	
 
<li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3632 default_dropdown  drop_to_right submenu_default_width columns1"> 	
    <a href="/faq" class="item_link  disable_icon" tabindex="2"> 		
        <i class></i>  		
        <span class="link_content"> 			
            <span class="link_text"> 				
                FAQ's
            </span> 		
        </span> 	
    </a> 
</li>


    </ul>